*{
    padding: 0;
    margin:  0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor1{
    width: 100%;
    left: 0;
    /*max-width: 1000px;*/
    margin: auto;
}

.contenedor2{
    margin-left: auto;
    margin-right: auto;
    line-height: 3em;
    width: 80%;
    margin-top: -0.8%;
    color: rgb(255, 255, 255);
    color: #fff;
    /*background-color: rgb(231, 231, 231);*/
    /*background-image: url("../imagenes/text2.jpg");*/
    /*background-attachment: fixed;*/
}

.logo{
    width: 100%;
    background-color: rgb(59, 34, 34);
    text-decoration: underline;
    z-index: 1000;
    color:rgb(255, 176, 58);
    text-decoration: none;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

    .img{
        width: 5%;
        height: 5%;
    }

header nav {
    background-color: rgb(31, 24, 24);
    margin-bottom: 10px;
}

    header nav ul {
        list-style: none;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin: 0;
        list-style: none;
    }

        header nav ul li {
            border-right: 1px solid rgb(255, 176, 58);
        }

        header nav ul li a {
           display: block;
           padding: 20px;
           color: #fff;
           text-decoration: none;
        }

        header nav ul li a:hover {
            background: rgb(5, 66, 90);
            color: #fff;
            text-decoration: none;
         }

#bt_menu{
    display: none;
}

.contenedor1 label{
    display: none;
    width: 8%;
    height: 10%;
    padding: 10px;
}

    .contenedor1 label:hover {
        cursor: pointer;
        background-color:  rgba(37, 78, 88, 0.925);
    }

#b_menu {
    width: 100%;
    background-color: rgb(31, 24, 24);
    z-index: 1000;
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
   /* max-width: 1000px;*/
}


    .menu-fixed ul li a {
        padding: 15px;
    }

/*responsive*/
@media screen and (max-width: 800px) {
    .contenedor1 label {
        display: block;
        width: auto;
        height: 10%;
        padding: 10px;
        margin: 0;
        top: 0;
    }

    .menu {
        position: absolute;
        background-color: rgb(31, 24, 24);
        width: 70%;
        margin-left: -70%;
        /*height: 100%;*/
        margin: 0;
        position: fixed;
        display: block;
        margin-top: -0.8%;
        
    }

        .menu ul {
            flex-direction: column;
        }

            .menu li {
                border-top: 1px solid rgb(255, 176, 58);
            }

    .menu-fixed {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 70%;
       /* max-width: 1000px;*/
      
    }

    .logo{
        font-size: 1.5em;
        
    }

        .img{
            width: 10%;
            height: 10%;
        }
}

footer{
    background-color: rgb(31, 24, 24);
    color: #fff;
    width: 100%;
    height: 15em;
    margin-top: -1.2%;
}

.parrallax{
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    padding: 4em;
    margin: 0;
}

#seccion1{
    background-image: url("../imagenes/text2.jpg");
    height: 50em;
}

#seccion2{
    background-image: url("../imagenes/street.jpg");
    height: 50em;
}

#seccion3{
    background-image: url("../imagenes/london.jpg");
    height: 50em;
}

.social{
    position: fixed;
    left: 0;
    top: 200px;
    z-index: 2000;
}

    .social ul{
        list-style: none;
    }

        .social ul li a{
            display: inline-block;
            padding: 10px 15px;
            text-decoration: none;
            -webkit-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
            width: 4em; 
            height: 4em;
        }

.social ul li .i_facebook{background: #3b5998;}
.social ul li .i_twitter{background: #00abf0;}
.social ul li .i_instagram{background: #d95232;}
.social ul li .i_gmail{background: #666666;}

.social ul li a:hover{
    padding: 10px 50px;
}