body{
    margin: 0;
    font-family: sans-serif;
}

header{
    width: 100%;
    background-color: #4E94ab;
}

#bt_menu{
    display: none;
}

header label{
    display: none;
    width: 10%;
    height: 10%;
    padding: 10px;
}

header label:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3)
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li:hover{
    background-color: rgba(0, 0, 0, 0.3)
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}